<a href="https://colab.research.google.com/github/Hengameh1392/renewable-energy/blob/main/2019.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [90]:
import pandas as pd

In [123]:
df = pd.read_csv('/content/drive/MyDrive/Renewable Data/ProductionAndCurtailmentsData_2018-2.csv')

In [124]:
df.head(5)

,Date,Hour,Interval,Load,Solar,Wind,Net Load,Renewables,Nuclear,Large Hydro,Imports,Generation,Thermal,Load Less (Generation+Imports)
0,1/1/2018 0:00,1.0,1.0,21552.67,0.0,243.50,21309.18,2032.99,2259.99,"2,098",7586.55,13964.46,7573.07,1.65
1,1/1/2018 0:05,1.0,2.0,21486.78,0.0,238.50,21248.28,2026.48,2259.95,"2,144",7543.25,13944.80,7514.81,-1.27
2,1/1/2018 0:10,1.0,3.0,21391.30,0.0,227.23,21164.07,2014.53,2259.81,"2,130",7666.71,13727.43,7322.87,-2.84
3,1/1/2018 0:15,1.0,4.0,21301.87,0.0,228.03,21073.85,2016.26,2259.80,"2,093",7701.71,13598.82,7229.37,1.35
4,1/1/2018 0:20,1.0,5.0,21242.27,0.0,232.21,21010.06,2024.28,2260.01,"2,161",7677.75,13560.24,7115.31,4.28

In [125]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 324576 entries, 0 to 324575
Data columns (total 14 columns):
 #   Column                          Non-Null Count   Dtype
---  ------                          --------------   -----
 0   Date                            105120 non-null  object
 1   Hour                            105120 non-null  float64
 2   Interval                        105120 non-null  float64
 3   Load                            105120 non-null  float64
 4   Solar                           105120 non-null  float64
 5   Wind                            105120 non-null  float64
 6   Net Load                        105120 non-null  float64
 7   Renewables                      105120 non-null  object
 8   Nuclear                         105120 non-null  float64
 9   Large Hydro                     105120 non-null  object
 10  Imports                         105120 non-null  float64
 11  Generation                      105120 non-null  float64
 12  Thermal                         105120 non-null  object
 13  Load Less (Generation+Imports)  105120 non-null  float64
dtypes: float64(10), object(4)
memory usage: 34.7+ MB

In [58]:
#df['Solar'] = pd.to_numeric(df['Solar'], errors='coerce')

In [126]:
df['Renewables'] = pd.to_numeric(df['Renewables'], errors='coerce')

In [62]:
#df['Load'] = pd.to_numeric(df['Load'], errors='coerce')

In [63]:
#df['Renewables'] = pd.to_numeric(df['Renewables'], errors='coerce')

In [64]:
#df['Wind'] = pd.to_numeric(df['Wind'], errors='coerce')

In [65]:
#df['Net Load'] = pd.to_numeric(df['Net Load'], errors='coerce')

In [66]:
#df['Nuclear'] = pd.to_numeric(df['Nuclear'], errors='coerce')

In [127]:
df['Large Hydro'] = pd.to_numeric(df['Large Hydro'], errors='coerce')

In [70]:
#df['Generation'] = pd.to_numeric(df['Generation'], errors='coerce')

In [128]:
df['Thermal'] = pd.to_numeric(df['Thermal'], errors='coerce')

In [72]:
#df['Load Less (Generation+Imports)'] = pd.to_numeric(df['Load Less (Generation+Imports)'], errors='coerce')

In [119]:
#df['Imports'] = pd.to_numeric(df['Imports'], errors='coerce')

In [76]:
#df['Solar'] = df['Solar'].astype(float).round(2)

In [103]:
df.shape

(324576, 14)

In [129]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 324576 entries, 0 to 324575
Data columns (total 14 columns):
 #   Column                          Non-Null Count   Dtype
---  ------                          --------------   -----
 0   Date                            105120 non-null  object
 1   Hour                            105120 non-null  float64
 2   Interval                        105120 non-null  float64
 3   Load                            105120 non-null  float64
 4   Solar                           105120 non-null  float64
 5   Wind                            105120 non-null  float64
 6   Net Load                        105120 non-null  float64
 7   Renewables                      105071 non-null  float64
 8   Nuclear                         105120 non-null  float64
 9   Large Hydro                     0 non-null       float64
 10  Imports                         105120 non-null  float64
 11  Generation                      105120 non-null  float64
 12  Thermal                         105071 non-null  float64
 13  Load Less (Generation+Imports)  105120 non-null  float64
dtypes: float64(13), object(1)
memory usage: 34.7+ MB

In [130]:
df.describe()

,Hour,Interval,Load,Solar,Wind,Net Load,Renewables,Nuclear,Large Hydro,Imports,Generation,Thermal,Load Less (Generation+Imports)
count,105120.000000,105120.000000,105120.000000,105120.000000,105120.000000,105120.000000,105071.000000,105120.000000,0.0,105120.000000,105120.000000,105071.000000,105120.000000
mean,12.499886,6.500000,25806.873479,3171.135837,1888.611721,20747.125917,6915.051524,2089.185206,NaN,7015.301168,18791.532846,7349.527703,0.039464
std,6.922384,3.452069,4927.633413,3884.071107,1253.561968,5351.536247,3887.367594,389.129005,NaN,2244.479495,5054.275192,3717.767212,14.751431
min,1.000000,1.000000,17981.550000,0.000000,0.000000,6967.970000,1665.470000,459.830000,NaN,-887.070000,9008.870000,500.560000,-962.490000
25%,6.750000,3.750000,22229.665000,0.000000,700.142500,17225.120000,3715.590000,2221.647500,NaN,5508.670000,15182.812500,4698.455000,-2.460000
50%,12.500000,6.500000,24989.715000,63.295000,1767.440000,20316.775000,5581.690000,2259.080000,NaN,7339.240000,17998.610000,6965.780000,0.000000
75%,18.250000,9.250000,27730.042500,7191.465000,2921.722500,24063.145000,10581.495000,2272.600000,NaN,8704.190000,21118.922500,9370.915000,2.410000
max,24.000000,12.000000,46396.990000,10735.880000,5166.750000,41277.560000,17082.630000,2288.390000,NaN,12094.620000,43160.270000,25072.150000,2588.520000